<div ng-controller="ThemeCtrl" class="row">
  <link ng-href="/assets/components/bootswatch/{{theme}}/bootswatch.less" type="text/css" rel="stylesheet/less"/>
  <link ng-href="/assets/components/bootswatch/{{theme}}/variables.less" type="text/css" rel="stylesheet/less"/>

  <div class="col-sm-4 customizer">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(color,value) in customizer.colors">
        {{color}}: {{value}}
      </li>
    </ul>
  </div>
  
  <div class="col-sm-8" ng-include="'/templates/partials/preview.html'">
  </div>
</div>
