<div ng-controller="ThemeCtrl" class="row">
  <link ng-href="/assets/components/bootswatch/{{theme}}/bootswatch.less" type="text/css" rel="stylesheet/less"/>
  <link ng-href="/assets/components/bootswatch/{{theme}}/variables.less" type="text/css" rel="stylesheet/less"/>

  <div class="col-sm-4 customizer">

    <div class="panel panel-default" ng-repeat="(group,variables) in variableGroups">
      <div class="panel-heading">{{group}}</div>
      <div class="panel-body">
        <ul class="list-unstyled" ng-repeat="variable in variables">
          <li>
            {{variable.name}}
          </li>
        <ul>
      </div>
    </div>
  </div>

  <div class="col-sm-8" ng-include="'/templates/partials/preview.html'">
  </div>
</div>
