<link href="assets/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

<div class="billboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="header">
	                <div>
	                	<img src="assets/img/strapize-logo.png"/>
	                </div>
	                <h1>Customize Bootstrap, Easily</h1>
	                <h3>Well, Soon!</h3>
	                <p class="description">
	                	Want personal sleek Bootstrap themes? Awesome!
						<br/>
					  	With Strapize you will have your self contained frontend.
					</p>
				</div>
                <div id="promote">
                    <span>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://strapize.com" data-text="Want personal sleek Bootstrap themes? Here Strapize!" data-via="dbtek">
                        	Tweet
                        </a>
                    </span>
                    <span>
                    	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fstrapize.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=576844099059470" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:112px" allowTransparency="true"></iframe>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<script type="text/javascript" src="assets/js/resize.js"></script>
<script type="text/javascript">
	var resize = new Resize();
	resize.billboard();
</script>